.banner {
    display: inline-block;
    font-family: var(--font-principal);
    color: var(--cor-textoprincipal);
    text-align: center;
    margin: 1em 0em;
}

.banner__titulo {
    padding: 0.4em 0em;
    font-size: 26px;
    background-color: #f2f0e6;
    margin-left: 150px;
    color: #aa8679;       
}

.banner__texto {
    font-weight: 300;
    padding: 1em;
    text-align: left;
}

.banner img{
    width: 100%;
    padding: 16px 0px;
}

@media screen and (min-width: 769px) {
    .banner__titulo {
        font-size: 36px;
        margin-left: 25%;
    }

    .banner img{
        width: 80%;
    }

    .banner__texto {
        font-size: 26px;
        font-weight: 300;
    }
}

@media screen and (min-width: 1025px) {

    hr {
        display: none;
    }
    .banner__titulo {
        font-size: 56px;
        margin-left: 60%;
        padding-left: 1em;
    }

    .banner img{
        width: 50%;
        margin: 2em;
    }

    .banner__computador {
        display: flex;
        align-items: center;
    }

    .banner__texto{
        padding: 2em 2em;
        font-size: 38px;
    }
}
